/* Editor styles */
.editor-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #0d1117;
  position: relative;
  overflow: hidden;
}

.editor-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

#editor-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
  overflow: hidden;
  background: #0d1117;
  position: relative;
  width: 100%;
  height: 100%;
}

.editor {
  flex: 1;
  width: 100%;
  height: 100%;
  min-height: 0;
  min-width: 0;
  overflow: hidden;
}

/* Monaco Editor custom theme overrides */
.monaco-editor {
  background-color: #0d1117 !important;
}

.monaco-editor .margin {
  background-color: #0d1117 !important;
}

.monaco-editor .gutter {
  background-color: #0d1117 !important;
}

.monaco-editor .current-line {
  border-color: #21262d !important;
}

.monaco-editor .line-numbers {
  color: #6e7681 !important;
}

.monaco-editor .line-numbers.active-line-number {
  color: #f0f6fc !important;
}